<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">

<header style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; background-color: #333; color: #fff; padding: 15px;">
    <div class="header-content">
        <div class="header-left">
            <nav class="category-nav">
                <h1><a href="/">쇼핑몰</a></h1>
                <ul id="main-menu">
                    <li><a href="/item/list/1/5">남성</a></li>
                    <li><a href="/item/list/2/5">여성</a></li>

                    <li><a href="/item/list/3/5">아동</a></li>

                    <li><a href="/item/list/4/5">ACC</a></li>

                </ul>

            </nav>
        </div>

        <div class="header-right">
            <nav class="category-nav">
                <ul>
                    <li><a href="#"><div class="material-icons">search</div></a></li>
                    <li><a href="#"><span class="material-icons">shopping_cart</span></a></li>

                    <li th:if="${session['loginMember'] == null and session['kakaoLogin'] == null and session['naverLogin'] == null and session['googleLogin'] == null}">
                        <a th:href="@{/member/login}">
                            <span>로그인</span>
                        </a>
                    </li>

                    <!-- 로그인 후 -->
                    <li th:if="${session['loginMember'] != null or session['kakaoLogin'] != null or session['naverLogin'] != null or session['googleLogin'] != null}" class="nav-item dropdown">
                        <a href="#">
                            <span>마이페이지</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

</html>
