<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Item 등록</title>
    <link rel="stylesheet" href="/css/itemRegistration.css">
</head>

<body>
<div class="registration-container">
    <form id="itemRegistrationForm" action="/item/list/register" method="post" enctype="multipart/form-data">
        <label for="itemName">상품명:</label>
        <input type="text" id="itemName" name="itemName">

        <label for="itemPrice">가격:</label>
        <input type="text" id="itemPrice" name="itemPrice" >

        <label for="stockQuantity">재고 수량:</label>
        <input type="number" id="stockQuantity" name="stockQuantity" >

        <label for="itemContent">상품 설명:</label>
        <input type="text" id="itemContent" name="itemContent" >

        <label >분류:</label>
        <select name="itemTypeCd" id="itemTypeCd">
            <option value="" disabled selected>카테고리를 선택하세요</option>
            <option value="1">남성</option>
            <option value="2">여성</option>
            <option value="3">아동</option>
            <option value="4">ACC</option>
        </select>

        <label>카테고리:</label>
        <select name="itemCategoryId" id="itemCategoryId" >
            <option value="" disabled selected>카테고리를 선택하세요</option>
            <option value="1">상의</option>
            <option value="2">하의</option>
            <option value="3">신발</option>
            <option value="4">모자</option>
            <option value="5">악세사리</option>
        </select>

        <label>이미지 1:</label>
        <input type="file" name="images" accept="images/*" >

        <label>이미지 2:</label>
        <input type="file" name="images" accept="images/*">

        <label>이미지 3:</label>
        <input type="file" name="images" accept="images/*">

        <label>이미지 4:</label>
        <input type="file" name="images" accept="images/*">

        <label>이미지 5:</label>
        <input type="file" name="images" accept="images/*">

        <input type="submit" value="등록">
    </form>
</div>
</body>

</html>
