<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/shopping.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>My Page</title>

</head>
<body>
<div th:replace="common/header :: HeaderFragment"></div>

<div class="container">
    <section>
        <h2>하하</h2>

    </section>
</div>

<div th:replace="common/footer :: FooterFragment"></div>

</body>
</html>
