<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.shop.member.model.dao.MemberMapper">

    <!-- Sign Up -->
    <insert id="signup" parameterType="Member">
        INSERT INTO MEMBER (
              MEMBER_ID
            , MEMBER_PW
            , MEMBER_EMAIL
            , MEMBER_NAME
            , MEMBER_NICKNAME
            , MEMBER_PHONE
            , ADDRESS
            , MEMBER_BIRTH
            , SALT
        ) VALUES (
              #{memberId}
            , #{memberPw}
            , #{memberEmail}
            , #{memberName}
            , #{memberNickname}
            , #{memberPhone}
            , #{address}
            , #{memberBirth}
            , #{salt}
        )
    </insert>

    <!-- Login -->
    <select id="login" parameterType="Member" resultType="Member">
        SELECT
            MEMBER_NO
            , MEMBER_ID
            , MEMBER_PW
            , MEMBER_EMAIL
            , MEMBER_NAME
            , MEMBER_NICKNAME
            , MEMBER_PHONE
            , ADDRESS
            , MEMBER_BIRTH
            , SALT
        FROM MEMBER
        WHERE 1=1
          AND MEMBER_ID = #{memberId}
    </select>

    <!-- Kakao -->
    <select id="findKakao" parameterType="java.util.HashMap" resultType="Member">
        SELECT *
        FROM MEMBER
        WHERE 1=1
        AND MEMBER_EMAIL = #{email}
        AND MEMBER_NICKNAME = #{nickname}
        AND SOCIAL_TYPE = 'KP'
    </select>

    <!-- Kakao -->
    <insert id="insertKakao" parameterType="java.util.HashMap">
        INSERT INTO MEMBER(
            MEMBER_EMAIL,
            MEMBER_NICKNAME,
            SOCIAL_TYPE
        ) VALUES (
            #{email},
            #{nickname},
            'KP'
        )
    </insert>

    <!-- Naver -->
    <select id="findNaver" parameterType="java.util.HashMap" resultType="Member">
        SELECT *
        FROM MEMBER
        WHERE 1=1
          AND MEMBER_ID = #{response.id, jdbcType=VARCHAR}
          AND SOCIAL_TYPE = 'NV'
    </select>

    <!-- Naver -->
    <insert id="insertNaver" parameterType="java.util.HashMap">
        INSERT INTO MEMBER(
            MEMBER_ID,
            MEMBER_NAME,
            MEMBER_NICKNAME,
            MEMBER_PHONE,
            SOCIAL_TYPE
        ) VALUES (
            #{response.id, jdbcType=VARCHAR},
            #{response.name},
            #{response.nickname},
            #{response.mobile},
            'NV'
        )
    </insert>

</mapper>
