<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.shop.member.model.dao.MemberMapper">

    <insert id="signup" parameterType="Member">
        INSERT INTO MEMBER (
              MEMBER_ID
            , MEMBER_PW
            , MEMBER_EMAIL
            , MEMBER_NAME
            , MEMBER_NICKNAME
            , MEMBER_PHONE
            , ADDRESS
            , MEMBER_BIRTH
            , SALT
        ) VALUES (
              #{memberId}
            , #{memberPw}
            , #{memberEmail}
            , #{memberName}
            , #{memberNickname}
            , #{memberPhone}
            , #{address}
            , #{memberBirth}
            , #{salt}
        )
    </insert>

    <select id="login" parameterType="Member" resultType="Member">
        SELECT
            MEMBER_NO
            , MEMBER_ID
            , MEMBER_PW
            , MEMBER_EMAIL
            , MEMBER_NAME
            , MEMBER_NICKNAME
            , MEMBER_PHONE
            , ADDRESS
            , MEMBER_BIRTH
            , SALT
        FROM MEMBER
        WHERE 1=1
          AND MEMBER_ID = #{memberId}
    </select>

</mapper>
