<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>

<div class="container">
    <form id="signup" method="post" action="/member/signup" onsubmit="return validateForm()">


        <div class="form-group input-container">
            <input type="text" id="memberId" name="memberId" required placeholder="아이디" onkeyup="validateInput('memberId', /^[a-z0-9_\-]{5,20}$/, '5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.')">
            <div id="memberIdMessage" class="message"></div>
        </div>

        <div class="form-group input-container">
            <input type="password" id="memberPw" name="memberPw" required placeholder="비밀번호" onkeyup="validateInput('memberPw', /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,}$/, '영문+숫자+특수문자 포함 8자 이상.')">
            <div id="memberPwMessage" class="message"></div>
        </div>

        <div class="form-group input-container">
            <input type="email" id="memberEmail" name="memberEmail" placeholder="이메일">
            <div id="memberEmailMessage" class="message"></div>
        </div>

        <div class="form-group input-container">
            <input type="text" id="memberName" name="memberName" placeholder="이름" onkeyup="validateInput('memberName', /^.{2,10}$/, '2자 이상, 10자 이하.')">
            <div id="memberNameMessage" class="message"></div>
        </div>

        <div class="form-group input-container">
            <input type="text" id="memberNickname" name="memberNickname" placeholder="닉네임" onkeyup="validateInput('memberNickname', /^.{2,10}$/, '2자 이상, 10자 이하.')">
            <div id="memberNicknameMessage" class="message"></div>
        </div>

        <div class="form-group input-container">
            <input type="text" id="memberPhone" name="memberPhone" placeholder="휴대폰" onkeyup="validateInput('memberPhone', /^\d{3}\d{4}\d{4}$/, '-빼고 입력하세요.')">
            <span id="phoneChk" class="doubleChk">인증번호 보내기</span><br/>
        </div>
        <div class="form-group input-container">
            <input id="memberPhonePut" type="text" name="memberPhonePut" title="인증번호 입력" disabled required/>
            <span id="memberPhoneChk" class="doubleChk">본인인증</span>
        </div>
        <div class="form-group input-container">
            <span class="point successPhoneChk">휴대폰 번호 입력 후 인증번호 보내기를 해주십시오.</span>
            <input type="hidden" id="phoneDoubleChk"/>
        </div>

        <div class="form-group input-container">
            <input type="text" id="memberBirth" name="memberBirth" placeholder="생년월일 8자리" onkeyup="validateInput('memberBirth', /^\d{8}$/, '생년월일 8자리.')">
            <div id="memberBirthMessage" class="message"></div>
        </div>

        <div class="form-group"><p style="color:red">*</p>
            <span class="fa-sharp fa-solid fa-location-dot"></span>
            <input type="text" id="sample6_postcode" name="address" placeholder="우편번호 버튼을 눌러주세요" readonly>
            <button onclick="sample6_execDaumPostcode()" type="button" id="postCodeBtn">우편번호</button>
        </div>
        <div class="form-group input-container">
            <input type="text" id="sample6_address" name="address" placeholder="도로명주소" readonly>
        </div>
        <div class="form-group input-container">
            <input type="text" id="sample6_detailAddress" name="address" placeholder="상세주소">
        </div>

        <div class="form-group">
            <button type="submit">가입하기</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/signup.js"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</body>
</html>