<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>

<div class="container">
    <form id="signup" method="post" action="/member/signup">
        <div class="form-group">
            <input type="text" id="memberId" name="memberId" required placeholder="아이디">
        </div>

        <div class="form-group">
            <input type="password" id="memberPw" name="memberPw" required placeholder="비밀번호">
        </div>

        <div class="form-group">
            <input type="email" id="memberEmail" name="memberEmail" required placeholder="이메일">
        </div>

        <div class="form-group">
            <input type="text" id="memberName" name="memberName" placeholder="이름">
        </div>

        <div class="form-group">
            <input type="text" id="memberNickname" name="memberNickname" placeholder="닉네임">
        </div>

        <div class="form-group">
            <input type="text" id="memberPhone" name="memberPhone" placeholder="전화번호">
        </div>

        <div class="form-group">
            <input type="text" id="memberBirth" name="memberBirth" placeholder="생년월일 8자리">
        </div>

        <div class="form-group"><p style="color:red">*</p>
            <span class="fa-sharp fa-solid fa-location-dot"></span>
            <input type="text" id="sample6_postcode" name="address"
                   placeholder="우편번호 버튼을 눌러주세요" readonly>
            <button onclick="sample6_execDaumPostcode()" type="button" id="postCodeBtn">우편번호</button>
        </div>
        <div class="form-group">
            <input type="text" id="sample6_address"  name="address" placeholder="도로명주소" readonly>
        </div>
        <div class="form-group">
            <input type="text" id="sample6_detailAddress" name="address" placeholder="상세주소">
        </div>

        <div class="form-group">
        <button type="submit" onclick="submitForm()">가입하기</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/signup.js"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수


                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }


                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }

</script>
<script>
    //input창누르면 주소팝업
    const memberAddr1 = document.getElementById("sample6_postcode");
    memberAddr1.addEventListener("click", function() {
        sample6_execDaumPostcode();
    });
</script>

</body>
</html>
